<!DOCTYPE html>
<html>

<head>
    <title>Authorization Successful</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            text-align: center;
            /* Center the content */
        }

        .success-box {
            border: 2px solid green;
            padding: 20px;
            background-color: #e6ffee;
            /* Light green background */
            display: inline-block;
            margin-top: 50px;
        }
    </style>
</head>

<<body class="p-3 mb-2 bg-info">
    <!-- <div id="currentDateTime"></div>
    <h1>Your IP address is: <span id="ip-address"></span></h1> -->
    <div>
        <label>Batch of IFT 458 Fall 2023 </label>
        <img src="/img/logo.png" alt="Student Image" width="50" height="40">
    </div>
    <div>
        <label>Server: </label>
        <div id="currentDateTime"></div>
        <div>Your IP address is: <span id="ip-address"></span></div>
    </div>
    <h4>Student Information</h4>

    <!-- Student Image -->
    <div>
        <label>Student Image:</label>
        <img src="/img/users/user.png" alt="Student Image" width="100" height="100">
    </div>

    <!-- Student Name -->
    <div>
        <label>Student Name:</label>
        <span>Sushmita Prafull Halasawade</span>
    </div>

    <!-- Student Email -->
    <div>
        <label>Student Email:</label>
        <span>shalasaw@asu.edu</span>
    </div>

    <!-- Student ID -->
    <div>
        <label>Student ID:</label>
        <span>1226584322</span>
    </div>

    <!-- Course Number -->
    <div>
        <label>Course #:</label>
        <span>IFT554</span>
    </div>
    <script>
        fetch('https://api.ipify.org?format=json')
            .then(response => response.json())
            .then(data => {
                document.getElementById('ip-address').textContent = data.ip;
            })
            .catch(error => {
                console.error('Error fetching IP address:', error);
            });
    </script>

    <script>
        const dateTimeElement = document.getElementById('currentDateTime');
        const currentDateTime = new Date().toLocaleString();
        dateTimeElement.textContent = currentDateTime;
    </script>

    <div class="success-box">
        <h2>Authorization Successful!</h2>

        <div class="success-box">
            <div>
                <p>Welcome, <%= user.name %>!</p> <!-- Display the user's name -->
                <p>
                    <%= user.email %>!
                </p> <!-- Display the user's name -->
            </div>
            <div>
                <textarea readonly rows="4" cols="50">
                Token, <%= token %>
              </textarea>
              <p>! <!-- Display the user's token but must be removed in prod -->
                You can now access the platform's features.</p>
            </div>
        </div>
        <div>
            <strong>
                <a href="/">Go to home</a>
            </strong>
        </div>

    </div>

</body>

</html>